<footer class="airbnb-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h4>Support</h4>
            <ul>
                <li><a href="#">Help Centre</a></li>
                <li><a href="#">Safety information</a></li>
                <li><a href="#">Cancellation options</a></li>
                <li><a href="#">Neighbourhood Support</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Community</h4>
            <ul>
                <li><a href="#">Kailasa Adventures</a></li>
                <li><a href="#">Live There</a></li>
                <li><a href="#">Online Experiences</a></li>
                <li><a href="#">Kailasa Blog</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Hosting</h4>
            <ul>
                <li><a href="#">Try hosting</a></li>
                <li><a href="#">Kailasa your home</a></li>
                <li><a href="#">Community guidelines</a></li>
                <li><a href="#">Hosting resources</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>About</h4>
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Press</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-bottom-left">
            <p>&copy; 2026 Kailasa, Inc. All rights reserved</p>
            <div class="footer-links">
                <a href="#">Privacy</a>
                <span> · </span>
                <a href="#">Terms</a>
                <span> · </span>
                <a href="#">Sitemap</a>
            </div>
        </div>

        <div class="footer-bottom-right">
            <div class="footer-language-currency">
                <button class="lang-btn">
                    <i class="fa-solid fa-globe"></i> English (US)
                </button>
                <button class="currency-btn">
                    <i class="fa-solid fa-rupee-sign"></i> Rupee
                </button>
            </div>
            <div class="footer-socials">
                <a href="#" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>